#errorMessageLogin{
  color: red;
  font-size: 1.2em;
}

#errorMessageSignup{
  color: red;
  font-size: 1.2em;
}

.modal-backdrop
{
    opacity:0.8 !important;
}

body{
  background: #D66D75;
  background: -webkit-linear-gradient(to right, #E29587, #D66D75);
  background: linear-gradient(to right, #E29587, #D66D75);
}
