<!DOCTYPE html>
<html>
<head>
	<title>Edit Recipe</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="new_res.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">The Gourmet Kitchen</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">The Gourmet Kitchen</a></li>
							<li><a href="#">Meet the team</a></li>
							<li><a href="#">Our Story</a></li>
						</ul>
					</li>
					<li><a href="#">Media</a></li>
					<li><a href="#">Our Partners</a></li>
					<li><a href="#">Workshops</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- after navbar -->

	<div class="row mainCard center-block">
		<div class="col-sm-12">
			<h1>Edit Recipe</h1>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="recName" class="col-sm-2 control-label">Name of Recipe:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="recName" placeholder="Name of Recipe" required>
					</div>
				</div>
				<div class="form-group">
					<label for="recDesc" class="col-sm-2 control-label">Description:</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="recDesc" rows="7" cols="30" placeholder="Describe your recpie" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="recDesc" class="col-sm-2 control-label">Ingredients:</label>
					<div class="col-sm-offset-2">
						<ul class="checkbox-grid">
							<li class="checkbox">
								<input type="checkbox" id="ing1" name="ing1"/>
								<label for="ing1">Ingredient 1</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing2" name="ing2"/>
								<label for="ing2">Ingredient 2</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing3" name="ing3"/>
								<label for="ing3">Ingredient 3</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing4" name="ing4"/>
								<label for="ing4">Ingredient 4</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing5" name="ing5"/>
								<label for="ing5">Ingredient 5</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing6" name="ing6"/>
								<label for="ing6">Ingredient 6</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing7" name="ing7"/>
								<label for="ing7">Ingredient 7</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing8" name="ing8"/>
								<label for="ing8">Ingredient 8</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing9" name="ing9"/>
								<label for="ing9">Ingredient 9</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing10" name="ing10"/>
								<label for="ing10">Ingredient 10</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing11" name="ing11"/>
								<label for="ing11">Ingredient 11</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing12" name="ing12"/>
								<label for="ing12">Ingredient 12</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing13" name="ing13"/>
								<label for="ing13">Ingredient 13</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing14" name="ing14"/>
								<label for="ing14">Ingredient 14</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing15" name="ing15"/>
								<label for="ing15">Ingredient 15</label>
							</li>
							<li class="checkbox">
								<input type="checkbox" id="ing16" name="ing16"/>
								<label for="ing16">Ingredient 16</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for="time" class="col-sm-2 control-label">Time Required:</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="100" default="0" class="form-control time-sd" id="hrs" required><span class="time-sd time-txt">hrs</span>
						<input type="number" min="0" max="59" class="form-control time-sd" id="mins" required><span class="time-sd time-txt">mins</span>
					</div>
				</div>
				<div class="form-group">
					<label for="imgUpload" class="col-sm-2 control-label">Image:</label>
					<div class="col-sm-10">
						<div>
							<img src="chicken.jpg" class="thumbnail" id="currentImg">
						</div>
						<input type="file" class="form-control" id="imgUpload" accept="image/*">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</div>
			</form>

		</div>
	</div>
	<script type="text/javascript">
		$("#recName").val("Current Name");
		$("#recDesc").val("Current Description");
		$(".time-sd")[0].value = 1;
		$(".time-sd")[2].value = 20;
		$("#ing5").prop("checked",true);
		$("#ing8").prop("checked",true);
		$("#ing2").prop("checked",true);
		$("#ing13").prop("checked",true);
		$("#imgUpload").change(function(e) {

			for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
				var file = e.originalEvent.srcElement.files[i];
				var reader = new FileReader();
				reader.onloadend = function() {
					$("#currentImg").attr("src",reader.result);
				}
				reader.readAsDataURL(file);
			}
		});
	</script>
</body>
</html>