{% extends 'kitchen/base.html' %}
{% load static %}
{% block content %}
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>The Gourmet Kitchen</h2>
        <h3>Your one stop culinary destination to learn<br>how to whip up recipes like a chef!</h3>
       <!--  <a class="btn btn-secondary btn-lg" href="#" role="button">See All</a> -->
      </div>
    </div>
  </section>
  <style type="text/css">
  	.jumbotron{
  		background-image: url('{% static "kitchen/back.png" %}');
  	}
  </style>
  <section class="container text-center">
    <h2>Top Rated Recipes</h2><br><br>
    <div class="row">
	 <div class="col-sm-4"> 
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	    <div class="flip-card-back container">
	      <h1 class="rectitle">American Pancakes</h1><br><br>
	      <p class="recdes">Fluffy, light american pancakes. Delicious served with fresh fruit and maple syrup.</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 20 min</span></li>
			<li><span class="icon icon-level"></span><span> Beginner</span></li>
			<li><span class="icon icon-calories"></span><span> 248</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>

	  
	  <div class="col-sm-4">
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	    <div class="flip-card-back container">
	      <h1 class="rectitle">Tomato Basil Pasta</h1><br><br>
	      <p class="recdes">Tomato Basil Pasta is a .quick and easy recipe made with tender penne pasta and juicy grape tomatoes.</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 50 min</span></li>
			<li><span class="icon icon-level"></span><span> Medium</span></li>
			<li><span class="icon icon-calories"></span><span> 260</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>

	  
	  <div class="col-sm-4">
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/5928/salad-healthy-diet-spinach.jpg?h=350&auto=compress&cs=tinysrgb" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	   <div class="flip-card-back container">
	      <h1 class="rectitle">Fresh Summer Salad</h1><br><br>
	      <p class="recdes">Combine roasted lemon with fronds of fennel, cherry tomatoes, pomegranate and herbs to make this colourful summer salad.</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 15 min</span></li>
			<li><span class="icon icon-level"></span><span> Beginner</span></li>
			<li><span class="icon icon-calories"></span><span> 260</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>

	 <div class="col-sm-4">
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/461295/pexels-photo-461295.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	    <div class="flip-card-back container">
	      <h1 class="rectitle">New York Cheesecake</h1><br><br>
	      <p class="recdes">With this recipe, a creamy, gorgeous, crack-free New York-style cheesecake is totally doable, even for beginners!</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 40 min</span></li>
			<li><span class="icon icon-level"></span><span> Medium</span></li>
			<li><span class="icon icon-calories"></span><span> 300</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>

	  
	  <div class="col-sm-4">
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/1251198/pexels-photo-1251198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	   <div class="flip-card-back container">
	      <h1 class="rectitle">Chili Cheeseburger</h1><br><br>
	      <p class="recdes">Chili Cheeseburger, is cooked medium, served on a buttered potato bun and topped with chili sauce, slaw, chopped onion, yellow mustard & American cheese.</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 30 min</span></li>
			<li><span class="icon icon-level"></span><span> Easy</span></li>
			<li><span class="icon icon-calories"></span><span> 420</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>


	  <div class="col-sm-4">
	  	 	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="https://images.pexels.com/photos/8806/food-breakfast-egg-milk.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Avatar" style="width:330px;height:280px;">
	    </div>
	    <div class="flip-card-back container">
	      <h1 class="rectitle">Eggs Benedict</h1><br><br>
	      <p class="recdes"> a traditional American breakfast or brunch dish that consists of two halves of an English muffin topped with a poached egg, bacon or ham, and hollandaise sauce</p>
	      <ul class="media">
			<li><span class="icon icon-users"></span><span> 1</span></li>
			<li><span class="icon icon-clock"></span><span> 20 min</span></li>
			<li><span class="icon icon-level"></span><span> Easy</span></li>
			<li><span class="icon icon-calories"></span><span> 120</span></li>
		</ul>
	    </div>
	  </div>
	</div>
	</div>
     <div class="row text-center">
      <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#exampleModalCenterCatalogue">View Complete Catalogue</a>
    </div>

    <div class="modal fade" id="exampleModalCenterCatalogue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		
				    <div>
					    		<ul class="rolldown-list" id="myList">
  										<li><a href="category/indian">Indian</a></li>
  										<li><a href="category/italian">Italian</a></li>
  										<li><a href="category/chinese">Chinese</a></li>
  										<li><a href="category/thai">Thai</a></li>
  										<li><a href="category/mexican">Mexican</a></li>
  										<li><a href="category/other">Other</a></li>
								</ul> 					   
					</div>
<!-- 					<button id="btnReload">Reload</button>
 -->    </div>
   
  </section>

   <script type="text/javascript">
$('.rolldown-list li').each(function () {
  var delay = ($(this).index() / 4) + 's';
  $(this).css({
    webkitAnimationDelay: delay,
    mozAnimationDelay: delay,
    animationDelay: delay
  });
});

// $('#btnReload').click(function () {
//   $('#myList').removeClass('rolldown-list');
//   setTimeout(function () {
//     $('#myList').addClass('rolldown-list');
//   }, 1);
// });
	</script>

  <link rel="stylesheet" href="{% static "kitchen/index.css" %}">
 {% endblock %}
