{% extends 'kitchen/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<center>
<div class="row">
<div class="col-md-4"> 
<div class="cont">
   <div class="card_Banner">
      <div class="card_Avatar"></div>
   </div>
	<h3>Callum Brown</h3>
	<a href="mailto:cabrown96@live.com">📧 cabrown96@live.com</a>
	<a>📱 +1 123-456-7890</a>
	<ul>
	   <a href="https://www.linkedin.com/in/-cbrown-"><i class="fa fa-linkedin" style="font-size:16px"></i></a>
		<a href="https://www.twitter.com/___cbrown___" target="_blank"><i class="fa fa-twitter" style="font-size:16px"></i></a>
		<a href="https://www.codepen.io/___cbrown___" target="_blank"><i class="fa fa-codepen" style="font-size:16px"></i></a>
	</ul>
</div>
</div>

<!-- Contact Card ~ #02 (Blank) -->
<div class="col-md-4"> 
<div class="cont">
   <div class="card_Banner">
      <div class="card_Avatar"></div>
   </div>
	<h3>Dimple Rathod</h3>
	<a href="mailto:dimplecrathod@gmail.com">📧 dimplecrathod@gmail.com</a>
	<a>📱 +91 9619350071</a>
	<ul>
	   <a href="https://www.linkedin.com/in/-cbrown-" target="_blank"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.twitter.com/___cbrown___" target="_blank"><i class="fab fa-twitter" style="font-size:16px"></i></a>
		<a href="https://www.codepen.io/___cbrown___" target="_blank"><i class="fab fa-codepen" style="font-size:16px"></i></a>
	</ul>
</div>
</div>

<!-- Contact Card ~ #03 (Blank) -->
<div class="col-md-4"> 
<div class="cont">
   <div class="card_Banner">
	   <div class="card_Avatar"></div>
	</div>
	<h3>Name</h3>
	<a>📧 example@email.com</a>
	<a>🌐 www.website.com</a>
	<ul>
	   <a><i class="fa fa-github" style="font-size:16px"></i></a>
		<a><i class="fa fa-codepen" style="font-size:16px"></i></a>
		<a><i class="fa fa-slack" style="font-size:16px"></i></a>
		<a><i class="fa fa-spotify" style="font-size:16px"></i></a>
   </ul>
 </div>
</div>
</div>
</div>
</div> <!--  modal end -->
</center>

  <link rel="stylesheet" href="{% static "kitchen/index.css" %}">
  <link rel="stylesheet" href="{% static "kitchen/team.css" %}">


 {% endblock %}
